body{
    background: url(https://i.picsum.photos/id/922/1920/1080.jpg?hmac=PNvrUhQuk2pE4GNATQbbITNH70oH8nyZDuMW6_88fPo) no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

.error{

    height: 600px;
    width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
}

.error-text{
    text-align: center;
}

.error-text h1{
    font-size: 200px;
    font-weight: 800;
    letter-spacing: 20px;
}

.error-text h3{
    font-size: 25px;
    font-weight: 400;
    color: grey;
}